

#t_nome{
	font-size: 16px;
	font-family: arial;
	color: white;
}

#datahora{
	font-size: 16px;
	font-family: arial;
	color: white;
}

#cabecalio1{
	background-color: #0572CE;
	width: 100%;
}

#cabecalio2{
	width: 850px;
	font-size: 24px;
	font-family: arial;
	color: white;
	text-align: left;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#104E8B;
    list-style:none;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#104E8B;
    color: WHITE;
    text-decoration: none;
    border-bottom:3px solid #104E8B;
}

#menu ul li a:hover {
    background-color:WHITE;
    color: #104E8B;
    border-bottom:3px solid #104E8B;
}

#coluna_vazia{

}

#banner:hover{
	height: 98px;
}

#dica{
	position: absolute;
	top: 1px;
	left: 10px;
}


#logo{
	width:500px;
}

#suspensao{
	font-size: 16px;
	width: 440px;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

#tratamento{
	font-size: 16px;
	width: 400px;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

#nome{
	width: 350px;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

#geral{
	background-color:#104E8B;
	width: 100%;
}


#suspender {
	font-size: 16px;
	color: black;
	font-family: arial;
	text-align: left;
}

#botao:hover{
	background-color: #104E8B;
	color: white;
}

#botao{
	font-size: 16px;
	color: black;
	font-family: arial;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	background-color: white;
	cursor: pointer;
}

#hoje:hover{
	background-color: #4682B4;
}

#ramal1{
	width: 100px;
	font-size: 20px;
	font-family: arial;
	color: blue;
	text-align: center;
}
#ramal2{
	width: 100px;
	font-size: 20px;
	font-family: arial;
	color: blue;
	text-align: center;
}
#ramal3{
	width: 100px;
	font-size: 20px;
	font-family: arial;
	color: blue;
	text-align: center;
}

#hora{
	width: 25px;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

#min{
	width: 25px;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

#dia{
	width: 25px;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

#mes{
	width: 25px;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

#ano{
	width: 50px;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

#copiar{
	font-size: 18px;
	font-family: arial;
	border: 0px;
	border-radius: 20px;
}

#copiar:hover{
	font-size: 18px;
	font-family: arial;
	border-radius: 20px;
	background-color: #36648B;
	color: white;
}

#tipo {
	font-size: 18px;
	color: black;
	font-family: arial;
}

#aviso {
	font-size: 18px;
	color: red;
	font-family: arial;
	text-align: center;
}

#resultado{
	text-align: center;
	font-size: 30px;
	font-family: arial;
	color: #4F4F4F;
	width: 500px;
	height: 50px;
}

#rodape1{
	font-size:16px;
	font-family: arial;
	width: 100%;
	background-color: #104E8B;
	position: absolute;
	bottom: 0px;

}
#rodape2{
	color: white;
}

a{
	text-decoration:none;
	color: white;
}

#frame{
	overflow-x:hidden;
	height: 20px;
}


#pagina_relogio{
	background-color: #0572CE;
	color: white;
	font-family: yu gothic;
	margin: 0;
	font-size:15px;
}

#button-1 {
    background-color: rgb(37, 37, 39);
    border: 2px solid #e7e7e7;
    border-radius: 8px;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

#button-1:hover {
    background-color: #104E8B;
    color: white;
}

#article-a {
    margin: 30px;
    text-align: left;
}

#cabecalio{
	background-color: #104E8B;
	color: white;
	font-size: 24px;
	font-family: arial;
	width: 550px;
	height: 33px;
	text-align: left;
}

#tabela_garantia {
	width: 550px;
	background-color: #B5B5B5;
	margin: 0 auto;
	padding: 2px;
}

#tabela_garantia td {
	padding: 10px;
}

#titulo{
	font-family: arial;
	font-size: 16px;
	color: black;
}

#titulo2{
	font-size: 18px;
	color: black;
	font-family: arial;
	text-align: left;
}

#template{
	text-align: left;
	font-size: 18px;
	font-family: arial;
	color: #4F4F4F;
	width: 550px;
	height: 370px;
	border-width: 2px;
	border-style: border solid;
  border-color: #104E8B;
  letter-spacing: 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
  padding: 10px;
}

input{
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

select{
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
}

#modelo{ font-family: arial; font-size: 16px; width: 320px;  }

#serie{ font-family: arial; font-size: 16px; width: 405px; }

#tombo{ font-family: arial; font-size: 16px; width: 440px; }

#defeito{ font-family: arial; font-size: 16px; width: 435px; }

#solicitante{ font-family: arial; font-size: 16px; width: 410px; }

#local{ font-family: arial; font-size: 16px; width: 445px;  }

#contorno{ font-family: arial; font-size: 16px; width: 335px; }

#endereco{ font-family: arial; font-size: 16px; width: 415px; }

#enviar{
  background-color: WHITE;
  border: 2px solid #104E8B;
  border-radius: 8px;
  color: #104E8B;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  scroll-snap-type: both mandatory
}
#enviar:hover{
	background-color: #104E8B;
	color: white;
  cursor: pointer;
}

#rodape{
	text-align: center;
	font-size:11px;
	font-family: arial;
	color: #828282;
}

}

footer {
   position: absolute;
   height: 40%;
   width: 100%;
   background-color: rgb(37, 37, 39);
       }

       .listsubmenu{
       	display: none;
       	width: 100px;
       	list-style-type: none;
       }
       .listsubmenu li{
       	width: 180px;
       }

			 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

       #btLeiaMais1 {
           background-color: WHITE;
           border: 2px solid #104E8B;
           border-radius: 8px;
           color: #104E8B;
           padding: 8px 15px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 14px;
           margin: 4px 2px;
           cursor: pointer;
       }

       #btLeiaMais1:hover {
           background-color: #104E8B;
           border: 2px solid #104E8B;
           color: WHITE;
       }
