

#t_nome {
    text-align: left;
    font-size: 16px;
    font-family: arial;
    color: white;
    padding-left: 40px;
}

#t_tarefa {
    text-align: left;
    font-size: 16px;
    font-family: arial;
    color: white;
    padding-left: 0px;
}

#t_local {
    text-align: left;
    font-size: 16px;
    font-family: arial;
    color: white;
    padding-left: 28px;
}

#datahora {
    text-align: left;
    width: 50em;
    font-size: 16px;
    font-family: arial;
    color: white;
    padding-left: 30px;
}

#datahora2 {
    text-align: left;
    width: 50em;
    font-size: 16px;
    font-family: arial;
    color: white;
    padding-left: 30px;
}

#cabecalio1 {
    background-color: #0572CE;
    width: 100%;
}

#tabela_cabecalio2 {
    width: 850px;
    font-size: 24px;
    font-family: arial;
    color: white;
    text-align: left;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #104E8B;
    list-style: none;
}

    #menu ul li {
        display: inline;
    }

        #menu ul li a {
            padding: 3px 10px;
            display: inline-block;
            /* visual do link */
            background-color: #104E8B;
            color: WHITE;
            text-decoration: none;
            border-bottom: 3px solid #104E8B;
        }

            #menu ul li a:hover {
                background-color: WHITE;
                color: #104E8B;
                border-bottom: 3px solid #104E8B;
            }

#coluna_vazia {
}

#banner:hover {
    height: 98px;
}

#dica {
    position: absolute;
    top: 1px;
    left: 10px;
}


#logo {
    width: 500px;
}

#suspensao {
    font-size: 16px;
    width: 592px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#tratamento {
    font-size: 16px;
    width: 250px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#local {
    align: left;
    font-size: 16px;
    width: 250px;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#nome {
    width: 403px;
    font-size: 16px;
    font-family: arial;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#tarefa {
    width: 100px;
    font-size: 16px;
    font-family: arial;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#tabela_sessao1 {
    font-family: Verdana, Geneva, sans-serif;
    border-collapse: collapse;
    width: 45%;
}

    #tabela_sessao1 th {
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: #4CAF50;
        color: white;
    }

    #tabela_sessao1 th, #tabela_sessao1 td {
        padding: 10px;
    }

#tabela_sessao2 {
    background-color: #104E8B;
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    width: 49%;
}

    #tabela_sessao2 th {
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: #4CAF50;
        color: white;
    }

    #tabela_sessao2 td {
        padding: 10px;
    }

#btEnviar {
    background-color: WHITE;
    border: 2px solid #104E8B;
    border-radius: 8px;
    color: #104E8B;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

    #btEnviar:hover {
        border-color: white;
        background-color: #104E8B;
        color: white;
    }

#geral {
    background-color: #104E8B;
    width: 100%;
}


#suspender {
    font-size: 16px;
    color: black;
    font-family: arial;
    text-align: left;
}

#botao:hover {
    background-color: #104E8B;
    color: white;
}

#botao {
    font-size: 16px;
    color: black;
    font-family: arial;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: white;
    cursor: pointer;
}

#botao2 {
    font-size: 16px;
    color: black;
    font-family: arial;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: white;
    cursor: pointer;
}

#hoje:hover {
    background-color: #4682B4;
}

#ramal1 {
    width: 100px;
    font-size: 20px;
    font-family: arial;
    color: blue;
    text-align: center;
}

#ramal2 {
    width: 100px;
    font-size: 20px;
    font-family: arial;
    color: blue;
    text-align: center;
}

#ramal3 {
    width: 100px;
    font-size: 20px;
    font-family: arial;
    color: blue;
    text-align: center;
}

#hora {
    width: 30px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#min {
    width: 30px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#dia {
    width: 30px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#mes {
    width: 30px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#ano {
    width: 50px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#hora2 {
    width: 30px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#min2 {
    width: 30px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#dia2 {
    width: 30px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#mes2 {
    width: 30px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#ano2 {
    width: 50px;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 0px;
    padding: 2px 5px;
}

#copiar {
    font-size: 18px;
    font-family: arial;
    border: 0px;
    border-radius: 20px;
}

    #copiar:hover {
        font-size: 18px;
        font-family: arial;
        border-radius: 20px;
        background-color: #36648B;
        color: white;
    }

#tipo {
    font-size: 18px;
    color: black;
    font-family: arial;
}

#aviso {
    font-size: 18px;
    color: red;
    font-family: arial;
    text-align: center;
}

#resultado {
    text-align: center;
    font-size: 30px;
    font-family: arial;
    color: #4F4F4F;
    width: 500px;
    height: 50px;
}

#template {
    text-align: left;
    font-size: 18px;
    font-family: arial;
    color: #4F4F4F;
    width: 850px;
    height: 400px;
    border-width: 2px;
    border-color: #104E8B;
}

#notas {
    text-align: left;
    font-size: 13px;
    font-family: arial;
    color: #4F4F4F;
    width: 182px;
    max-width: 400px;
    height: 92px;
    max-height: 590px;
    border-width: 1px;
    font-weight: bold;
}

#div_notas {
    max-width: 400px;
    position: absolute;
    padding: 40px;
}

#rodape1 {
    font-size: 16px;
    font-family: arial;
    width: 100%;
    background-color: #104E8B;
    position: absolute;
    bottom: 0px;
}

#rodape2 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#frame {
    overflow-x: hidden;
    height: 20px;
}


#pagina_relogio {
    background-color: #0572CE;
    color: white;
    font-family: yu gothic;
    margin: 0;
    font-size: 15px;
}

#button-1 {
    background-color: rgb(37, 37, 39);
    border: 2px solid #e7e7e7;
    border-radius: 8px;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

    #button-1:hover {
        background-color: #104E8B;
        color: white;
    }

textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea {
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

footer {
    position: absolute;
    height: 40%;
    width: 100%;
    background-color: rgb(37, 37, 39);
}

.listsubmenu {
    display: none;
    width: 100px;
    list-style-type: none;
}

    .listsubmenu li {
        width: 180px;
    }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#btLeiaMais1 {
    background-color: WHITE;
    border: 2px solid #104E8B;
    border-radius: 8px;
    color: #104E8B;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

    #btLeiaMais1:hover {
        background-color: #104E8B;
        color: white;
    }
