
#tabelaFiltro {
    width: 100%;
}

#div_filtro {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-right: 15px;
}

#lista_filtro {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 1385px;
    list-style: none;
    position: center;
}

@media(width:1920px) {
    #lista_filtro {
        margin-right: 80px;
    }
}

@media (max-width: 1919px) {
    .lista_filtro {
        margin-right: 161px auto; /* Reduz a margem */
    }
}

@media(max-width:1700px){
    #divRedirecionamentos {
        border: none;
        box-shadow: none;
    }
}

#tabela_redirecionamento {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position: relative;
    width: clamp(1410px, 5%, 10px); /*Para definir a responsividade do texto.*/
}

    #tabela_redirecionamento th {
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: #4CAF50;
        color: white;
    }

    #tabela_redirecionamento th, #tabela_redirecionamento td {
        border-radius: 5px;
        border: 1px solid #0a0a0a;
        padding: 8px;
        width: clamp(5px, 5%, 100px);
    }

    #tabela_redirecionamento thead > tr > th {
        position: sticky;
        top: -1px;
        background-color: #104E8B;
    }

    #tabela_redirecionamento tr {
        background-color: white;
    }

        #tabela_redirecionamento tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #tabela_redirecionamento tr:hover {
            background-color: #d3d3d3;
            cursor: default;
        }

    #tabela_redirecionamento td:first-child {
        width: clamp(30px, 30%, 100px);
    }

    #tabela_redirecionamento td:nth-child(2) {
        width: clamp(50px, 50%, 100px);
    }

    #tabela_redirecionamento td:last-child {
        width: clamp(20px, 20%, 100px);
    }

    #tabela_redirecionamento tr:hover #linha0 {
        background-color: #d3d3d3;
        cursor: default;
    }
    #tabela_redirecionamento tr:hover #linha1 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha2 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha3 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha4 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha5 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha6 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha7 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha8 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha9 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha10 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha11 {
        background-color: #d3d3d3;
        cursor: default;
    }

    #tabela_redirecionamento tr:hover #linha12 {
        background-color: #d3d3d3;
        cursor: default;
    }

#tabela_redirecionamento tr:hover #linha13 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha14 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha15 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha16 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha17 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha18 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha19 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha20 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha21 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha22 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha23 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha24 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha25 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha26 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha27 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha28 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha29 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha30 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha31 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha32 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha33 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha34 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha35 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha36 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha37 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha38 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha39 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha40 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha41 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha42 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha43 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha44 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha45 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha46 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha47 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha48 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha49 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha50 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha51 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha52 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha53 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha54 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha55 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha56 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha57 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha58 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha59 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha60 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha61 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha62 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha63 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha64 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha65 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha66 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha67 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha68 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha69 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha70 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha71 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha72 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha73 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha74 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha75 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha76 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha77 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha78 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha79 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha80 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha81 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha82 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha83 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha84 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha85 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha86 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha87 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha88 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha89 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha90 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha91 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha92 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha93 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha94 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha95 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha96 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha97 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha98 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha99 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha100 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha101 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha102 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha103 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha104 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha105 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha106 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha107 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha108 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha109 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha110 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha111 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha112 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha113 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha114 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha115 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha116 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha117 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha118 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha119 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha120 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha121 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha122 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha123 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha124 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha125 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha126 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha127 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha128 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha129 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha130 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha131 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha132 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha133 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha134 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha135 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha136 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha137 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha138 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha139 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha140 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha141 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha142 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha143 {
  background-color: #d3d3d3;
  cursor: default;
}

#tabela_redirecionamento tr:hover #linha144 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha145 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha146 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha147 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha148 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha149 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha150 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha151 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha152 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha153 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha154 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha155 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha156 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha157 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha158 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha159 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha160 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha161 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha162 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha163 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha164 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha165 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha166 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha167 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha168 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha169 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha170 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha171 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha172 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha173 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha174 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha175 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha176 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha177 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha178 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha179 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha180 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha181 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha182 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha183 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha184 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha185 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha186 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha187 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha188 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha189 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha190 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha191 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha192 {
  background-color: #d3d3d3;
  cursor: default;
}
#tabela_redirecionamento tr:hover #linha193 {
  background-color: #d3d3d3;
  cursor: default;
}
